{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<ol class='breadcrumb'>
  <li>{{link-to 'Network Sites' 'sites'}}</li>
  <li>{{link-to 'Users' 'admin.users'}}</li>
  <li>Edit</li>
</ol>

<h2>Edit User</h2>

{{user-form 
    user=model.user
    email=model.user.email
    companies=model.companies
    role=model.user.role
    company=model.user.company
    onSubmit=(route-action 'updateUser')
}}

{{outlet}}
