<div class='table-responsive networkSummaryTable'>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <td></td>
        {{#each headers as |header|}}
          <td>{{header}}</td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each cableRuns as |cableRun|}}
        <tr 
          {{action (action 'selectRow' cableRun.id)}} 
          class="{{if (eq cableRun.id selectedId) 'is-selected'}}"
        >
        <td>
          {{#link-to 'sites.cable-runs.edit' cableRun.id}}
            {{fa-icon 'edit'}}
          {{/link-to}}
        </td>
          {{#each headers as |header|}}
            <td>{{get cableRun header}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
