{{#if (can 'write cableRun')}}
  {{workbook-importer
      buildingId=model.building.id
      onFlashReceive=(route-action 'sendFlash')
      onComplete=(route-action 'refreshFileList')
  }}
{{/if}}


<table class='table'>
  <thead>
      <tr>
        <th>File</th>
        <th>Sheet</th>
        <th>Records</th>
        <th>Date</th>
      </tr>
  </thead>
  <tbody>
    {{#each model.sheets as |sheet|}}
      <tr data-test-selector='sheet-item'>
        <td>{{sheet.workbook.name}}</td>
        <td>{{sheet.name}}</td>
        <td>{{sheet.recordCount}}</td>
        <td>{{sheet.updatedDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{crl-history}}
