{{node-counts-table data=model.site.nodeCounts}}

{{#g-maps-container
    lat=model.site.lat
    lng=model.site.lng
    zoom=16
    icon='assets/fa-home_40.png'
    model=model.buildings as |map|
}}
  {{g-maps
      name='network-site-edit-map'
      lat=map.lat
      lng=map.lng
      zoom=map.zoom
      mapType='satellite'
      markers=map.markers
  }}
{{/g-maps-container}}

{{#if (can 'write networkSite')}}
  {{network-site-form
      site=model.site
      name=model.site.name
      address=model.site.address
      onPlaceUpdate=(route-action 'didUpdatePlace')
      onSubmit=(route-action 'submit')
      onDelete=(route-action 'deleteNetworkSite' model.site)
      place=place
      isEditing=true
  }}
{{else}}
  <div><label>Site Name:</label> {{model.site.name}}</div>
  <div><label>Site Address:</label> {{model.site.address}}</div>
{{/if}}

{{buildings-list
    buildings=model.buildings
    onBuildingDelete=(route-action 'deleteBuilding')
}}
