{{outlet}}

<h3 class='row-title'>Summary</h3>

<div class="row">
  <div class="col-lg-12">
    {{crl-stats-table headers=model.networkElementCount.attributeNames tableContent=model.networkElementCount.counts}}
  </div>
</div>

<div class="btn-group btn-group-justified networkStats__btn-group" role="group" aria-label="...">
  {{#link-to (query-params chart='pon-channel') class='btn btn-default' }}
    PON Channel Utilization
  {{/link-to}}
  {{#link-to (query-params chart='feeder-capacity') class='btn btn-default'}}
    Feeder Capacity
  {{/link-to}}
  {{#link-to (query-params chart='distribution-network') class='btn btn-default'}}
    Noovis Distribution
  {{/link-to}}
</div>

{{#liquid-bind chart}}
  {{#if showFeederCapacity}}
    {{charts-feeder-capacity
        labels=model.feederCapacitySite.types
        values=model.feederCapacitySite.values
        data=model.feederCapacityBuilding.stats
    }}
  {{else if showDistributionNetwork}}
    {{charts-distribution-network
        labels=model.distributionSite.types
        values=model.distributionSite.values
        data=model.distributionBuilding.stats
    }}
  {{else}}
    {{charts-pon-channel
        labels=model.ponUseSite.types
        values=model.ponUseSite.values
        data=model.ponUseBuilding.stats
    }}
  {{/if}}
{{/liquid-bind}}


<h3 class='row-title'>Distribution Spares by Floor</h3>

<div class="row">
  <div class="col-lg-12">
    {{crl-stats-bar data=model.distributionFloor.stats}}
  </div>
</div>
