<form {{action 'submit' on='submit'}}>
  <div class='form-group'>
    <label>
      Building Name<br>
      {{x-input
          value=name
          data-test-selector='name-input'
          placeholder='Building, got a name?'
      }}
    </label>
  </div>
  <div class='form-group'>
    <label>
      Building Description<br>
      {{x-input
          value=description
          data-test-selector='description-input'
          placeholder='Any noteworthy comment about the building?'
      }}
    </label>
  </div>

  <button
    type='submit'
    {{action 'submit'}}
    data-test-selector='submit-button'
  >
    Update
  </button>

  <button
    {{action 'delete'}}
    data-test-selector='delete-building-button'
  >
    Delete {{model.name}}
  </button>
</form>
