{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}


{{building-job-status building=model.building}}
<h2>{{model.building.name}}</h2>

{{node-counts-table data=model.building.nodeCounts}}

<ul class='nav nav-tabs' role='tablist'>
  {{#link-to 'sites.buildings.edit.map' tagName='li' class='presentation'}}
    <a href='#'>Map</a>
  {{/link-to}}

  {{#link-to 'sites.buildings.edit.network' tagName='li' class='presentation'}}
    <a href='#'>Network</a>
  {{/link-to}}

  {{#link-to 'sites.buildings.edit.crl-uploads' tagName='li' class='presentation'}}
    <a href='#'>CRL Uploads</a>
  {{/link-to}}
</ul>

<div class='tab-content'>
  <div role='tabpanel' class='tab-pane active'>
    {{outlet}}
  </div>
</div>
