<div class="row">

<div class="col-xs-4">

  {{#link-to
      "sites.companies.new"
      data-test-selector="new-company-button"
      class="btn btn-default btn-primary"
  }}
      Add Company
  {{/link-to}}

  {{#each model as |company|}}
    <h4>
      {{link-to
          company.name
          "sites.companies.company.edit"
          company
          data-test-selector="company-link"
      }}
    </h4>
    {{#each company.networkSites as |networkSite|}}
      {{network-site-listing networkSite=networkSite}}
    {{/each}}
  {{/each}}

</div>

<div class="col-xs-8">
  {{#if showMap}}
    <h2>All Noovis @FiberSpeed™ Sites</h2>
    {{g-maps lat=lat lng=lng zoom=zoom}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>

</div>
