<div class="row">

<div class="col-xs-4">

  {{#link-to
      "sites.companies.new"
      data-test-selector="new-company-button"
      class="btn btn-default btn-primary"
  }}
      Add Company
  {{/link-to}}

  {{#each model.companies as |company|}}
    <h4>
      {{link-to
          company.name
          "sites.companies.company.edit"
          company
          data-test-selector="company-link"
      }}
    </h4>
    {{#each company.networkSites as |networkSite|}}
      {{network-site-listing networkSite=networkSite}}
    {{/each}}
  {{/each}}

</div>

<div class="col-xs-8">
  {{#if showMap}}
    <h2>All Noovis @FiberSpeed™ Sites</h2>
    {{#g-maps-container model=model.sites as |map|}}
      {{g-maps lat=map.lat lng=map.lng zoom=map.zoom markers=map.markers}}
    {{/g-maps-container}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>

</div>
