<form {{action 'submit' on='submit'}}>
  <label>
    Site Name<br>
    {{x-input
        value=name
        data-test-selector='site-name-input'
        placeholder="Let's give this site a name"
    }}
  </label>
  <br>
  <label>
    Site Address<br>
    {{google-autocomplete onComplete=(route-action 'didUpdatePlace') address=address}}
  </label>

  <button data-test-selector='submit-button' {{action 'submit'}}>Update</button>

  <button data-test-selector='delete-button' {{action 'deleteSite'}}>Delete {{site.name}}</button>
</form>
