<form {{action 'submit' on='submit'}}>
  <div class='form-group'>
    <label>
      Email
      {{x-input
        value=email
        size=50
        placeholder=email
        class='form-control'
        data-test-selector='email-input'
      }}
    </label>
  </div>

  <div class='form-group'>
    <label>
      Password
      {{x-input
          value=password
          type='password'
          size=50
          class='form-control'
          data-test-selector='password-input'
      }}
    </label>
  </div>

  <div class='form-group'>
    <label>
      Password Confirmation
      {{x-input
          value=passwordConfirmation
          type='password'
          size=50
          class='form-control'
          data-test-selector='passwordConfirmation-input'
      }}
    </label>
  </div>

  <button
    {{action 'submit'}}
    class='btn btn-primary'
    data-test-selector='submit-button'
  >
    Update
  </button>
</form>
{{yield}}
